# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Environment variables
.env
.env.*
!.env.example

# Logs
.pnpm-debug.log*
*.log

# OS files
.DS_Store
*.pem
Thumbs.db

# Cache
.cache/
.ruff_cache/
.mypy_cache/
.turbo/
