# debugモードの有効化フラグ
IS_DEBUG=true

# データを格納するディレクトリパス
DATASTORE_DIR=./datastore

# サンプルデータを格納するディレクトリパス
SAMPLE_DATA_DIR=${DATASTORE_DIR}/sample_data

# model を格納しているディレクトリパス
MODELS_DIR=${DATASTORE_DIR}/models

# 統計データを格納しているディレクトリパス
STATISTICAL_DATA_DIR=${DATASTORE_DIR}/statistical_data

# 歩数データや推定結果を格納しているディレクトリパス
VAULT_DIR=${DATASTORE_DIR}/vault

# apiプレフィックス
API_V1_PREFIX=/api/v1

# 識別id生成用のソルト
DATA_ID_SALT=app_secret_salt_here

# ollamaのエンドポイント
OLLAMA_ENDPOINT=http://host.docker.internal:11434/v1/

# フロントエンドのエンドポイント
FRONTEND_ENDPOINT=http://localhost:5173